# Standard
*~

# LaTex Compile 
*.aux
*.aux*
*.log
*.bbl
*.blg
*.out
*.pdf
*.idx
*.gz
*.gz*
*.toc
*.lof
*.lot
*.dep
*.md5

# Excel Files
*.xlsx

*.bak
# LaTeX side files produced by the endnotes / algorithm / listings packages
*.ent
*.loa
*.lol
